
/* Layout Container */
.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--layout-bg);
  /* background-image: url(Google-Keep-Clone\src\assets\light_bulb.png); */
  color: var(--layout-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Content Wrapper (Sidebar + Main Content) */
.content-wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden; /* Prevent overflow due to large content */
}

.main-content {
  padding: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Spacing between NoteTextbox and children */
}

/* Themes */
:root {
  --layout-bg: #ffffff;
  --layout-text: #202124;
  --content-bg: #f1f3f4;
  --content-text: #202124;
}

[data-theme="dark"] {
  --layout-bg: #202124;
  --layout-text: #e8eaed;
  --content-bg: #303134;
  --content-text: #e8eaed;
}
