.notes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 50px;
    /* margin-top: 50px; */
    /* margin-left: 100px; */
  }
  
  .note-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 16px;
    width: 240px;
    position: relative;
    transition: transform 0.2s;
  }
  
  .note-card:hover {
    transform: translateY(-4px);
  }
  
  .note-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .note-content {
    font-size: 14px;
    margin-bottom: 16px;
    overflow-x: hidden;
  }
  
  .note-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
  
  .note-action-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .note-action-button.pin-button.active {
    color: gold;
  }
  
  /* .note-action-button.delete-button {
    color: #d32f2f;
  }
   */
  .empty-notes {
    display: block;
    position: fixed;
    font-size: 22px;
    font-weight: 400;
    color: #aaa;
    text-align: center;
    width: 100%;
  }
  